html {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 256px;
}


/*Main content section*/
label {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 2px;
}

.input-text {
  padding: 10px;
  border: 0px;
  background-color: rgba(121, 121, 121, 0.1);
}
.input-text:focus {
  outline: none;
  border-bottom: 2px inset #0d66d0;
  background-color: rgba(121, 121, 121, 0.15);
}

.main {
  margin: 10px;
  padding: 0px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .form-section {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: relative;
  border-radius: 10px;
  margin: auto 0px;
  padding: 20px;
  border-collapse: collapse;
  height: 60%;
}
.main .form-section .form-title {
  font-size: 30px;
}
.main .form-section form {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.main .form-section form div {
  display: flex;
  flex-direction: column;
}

.error-msg {
  color: red;
  font-size: 12px;
  display: none;
}

.btn {
  font-size: larger;
  padding: 5px;
  margin-top: 10px;
  width: 150px;
  background-color: #0d66d0;
  border-color: #0d66d0;
  color: white;
  border-radius: 16px;
  cursor: pointer;
}
.btn:disabled {
  border: 0px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.7);
  cursor: not-allowed;
}
.btn:focus {
  background-color: #0d66d0;
  border-color: #0d66d0;
}

.register {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* TEST SECTION*/

.test-mode {
  margin: 5px;
  padding: 5px;
  overflow: auto;
  height: 147px;
  border: 2px dashed black;
}

.test-title {
  margin: 0px;
  font-size: 16px;
}
.settings .items {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


* {
  box-sizing: border-box;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type="checkbox"]:focus {
  outline: 0;
}

.toggle {
  height: 20px;
  width: 34px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: #ffffff;
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #474755;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: #654FEC;
}
.toggle:checked:after {
  background: #654FEC;
  transform: translatex(14px);
}
